/* color palette from https://www.color-hex.com/color-palettes */
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff') format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff') format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff') format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

:root {
  --darkest-color: #064273;
  --lightest-color: #def3f6;
  --highlight-color: #ffffff;
  --bright-color-1: #1da2d8;
  --bright-color-2: #76b6c4;
  --bright-color-3: #7fcdff;
  --bright-color-4: #6093d2;
  --theme-ui-colors-primary: #ec3750;
  --theme-ui-colors-sheet: #f9fafc;
}

.link-list-item {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: inherit;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--highlight-color);
  background-color: var(--theme-ui-colors-primary);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  border-radius: 99999px;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgb(0 0 0 / 13%);
  letter-spacing: 0.009em;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform .125s ease-in-out, box-shadow .125s ease-in-out;
  transition: transform .125s ease-in-out, box-shadow .125s ease-in-out;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--theme-ui-colors-primary);
  border: 2px solid currentColor;
  margin-right: 16px;
  margin-bottom: 16px;
}

.link-list-item:focus, .link-list-item:hover {
  box-shadow: 0 1px 2px rgb(0 0 0 / 6%), 0 8px 12px rgb(0 0 0 / 13%);
  -webkit-transform: scale(1.0625);
  -moz-transform: scale(1.0625);
  -ms-transform: scale(1.0625);
  transform: scale(1.0625);
}

body {
  background: var(--highlight-color);
  color: var(--lightest-color);
  font-family: 'Phantom Sans';
  margin: 0;
}

#header {
  background-color: var(--theme-ui-colors-sheet);
}

#header .container {
  margin: 0 auto;
  padding: 50px;
}

.container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.circle-shape {
  width: 140px;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid var(--lightest-color);
  margin: 0 auto;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

a {
  color: var(--lightest-color);
  text-decoration: none;
}

.ig-link {
  font-weight: bold;
  font-size: 40px;
  box-sizing: border-box;
  min-width: 0;
  line-height: 1.125;
  letter-spacing: -0.009em;
  line-height: 1;
  color: var(--theme-ui-colors-primary);
  margin-top: 15px;
}

/* .link-list-item {
  border: 1px solid var(--lightest-color);
  box-sizing: border-box;
  margin: 20px auto;
  color: var(--darkest-color);
  padding: 15px;
  text-align: center;
  transition: all 0.15s;
  border-radius: 2px;
} */



.link-list-item-img {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* .highlighted,
.link-list-item:hover,
a:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
  text-shadow: 0 0 2em var(--highlight-color);
} */

.icon-list-img {
  height: 50px;
  width: 50px;
  margin: 3px;
}

.dark {
  background: var(--bright-color-1);
}

.medium {
  background: var(--bright-color-2);
}

.light {
  background: var(--bright-color-3);
}

.bright {
  background: var(--bright-color-4);
}