body {
  background-color: var(--dark);
}

h1 {
  text-align: center;
  color: var(--red);
}

h2,
h3 {
  color: var(--white);
}

header {
  padding-top: var(--spacing-5);
  padding-bottom: var(--spacing-3);
  /* background-color: var(--darker); */
  /* margin-bottom: var(--spacing-5); */
}

.logo {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.body {
  padding-top: var(--spacing-4);
  padding-bottom: var(--spacing-4);
}

.links {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.link {
  --text: var(--muted) !important;
  background-color: var(--darkless);
  box-shadow: var(--shadow-elevated);
  height: 100%;
}

.links a {
  text-decoration: none !important;
}

footer {
  /* background-color: var(--darker); */
  padding-top: var(--spacing-3);
  padding-bottom: var(--spacing-3);
}

footer a {
  text-decoration: none;
}

.footer-links {
  /* display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px; */
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-gap: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
}

a > svg {
  fill: var(--muted);
  vertical-align: middle;
  transition: transform 0.125s ease-in-out, color 0.125s ease-in-out;
  cursor: pointer;
}

a > svg:hover {
  fill: var(--smoke);
  transform: scale(1.125);
}

.tel a, .tel {
  color: var(--muted);
}
